node_modules/
dist/
release/
backend-dist/
build/
vendor/tesseract/*
!vendor/tesseract/.gitkeep
__pycache__/
*.pyc
.venv/
venv/
*.exe
!backend-dist/buffcheck-backend.exe
out/
.DS_Store
*.log
debug/
.idea/
.vscode/
*.spec
